.testing {
  display: flex;
  justify-content: space-between;
  width: 95%;
  font-size: 20px;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.Title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding: 30px 0;
}
.image {
  padding-top: 300px;
  padding-bottom: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: auto;
}
.vision {
  display: flex;
  font-size: 10px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.Word_vision {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      padding-top: 0px;
      padding-bottom:0px;
}

.center_text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding-top: 150px;
  padding-right: 600px;
  padding-bottom: 500px;
  padding-left: 600px;
}
.end {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding: 30px 0;
}
