header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

 button {
  background-color: #3498db;
  color: white;
  padding: 100px 150px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.testing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
    margin: 0;
}
