header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: black
}

.buttons {

    display:flex;
    justify-content: space-around;
    padding-top: 20px;
}
